.quizHeader{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    padding-left: 3%;
    padding-right: 1%;
}

.quizQuestion{
    text-align: left;
    font-size: 20px;
    padding-left: 8%;
    padding-right: 1%;
}

.answer_react{
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}