html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  overflow: auto;
}
:root {
  --main-height : 90vh;
}
.App header {
  background-color: white; 
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 0 15%;
}

.link {
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 40px;
  color: black;
  transition: color 0.5s, background-color 0.5s;
}
.link:hover{
  background-color: #61dafb;
  color: white;
}

.App > .main{
  margin: 0;
  min-height: var(--main-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow-y: auto;
  
}

.main .custom-button {
  font-size: 24px;
  padding: 100px 200px;
  color: white;
  background-color: #3f8efc;
}

.main .routes {
  margin: 5px;
  min-height: var(--main-height);
  width: 80%;
  
}
.main .flower {
  margin: 5px;
  position: absolute;
  bottom: 35px;
  right: -90px;
  width: 25%;
  height: auto;
  z-index: 1;
}

.main .flower .flower-image {
  width: 90%; 
  height: auto; 
}

.footer {
  background-color: #3f8efc;
  color: #3f8efc;
  padding: 10px;
  position: fixed;
  text-align: center;
  flex-shrink: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}