.App {
  text-align: center;
}
:root {
  --main-height : 90vh;
}
.App header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #61dafb;
  transition: color 0.5s, background-color 0.5s;
}
.link:hover{
  background-color: #61dafb;
  color: white;
}

.App > .main{
  margin: 0;
  min-height: var(--main-height);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.main .routes {
  margin: 5px;
  min-height: var(--main-height);
  width: 80%;
  
}
.main .flower {
  margin: 5px;
  min-height: var(--main-height);
  width: 20%;
  
}

.main .flower .flower-image {
  width: 80%; 
  height: auto; 
}